includes:
    - phpstan-baseline.neon

parameters:
    level: 10
    paths:
        - src
    excludePaths:
        - src/DependencyInjection/Configuration.php
        - src/Doctrine/DBAL/PurgatoryConnection.php
